a{
    display: block;
    background-color: antiquewhite;
    border: 2px solid gray;
    border-radius: 10px;
    width: 15vw;
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-decoration: none;

}